<article>
    <section>
        <div *ngIf="hero">
        
            <h2>{{hero.name | uppercase}} Details</h2>
            <div><span>id: </span>{{hero.id}}</div>
            <div class="form-group">
                <label>Name:
                    <input [(ngModel)]="hero.name" placeholder="name" class="form-control"/>
                </label>
                <button (click)="destroy(hero)" class="btn btn-danger">Destroy</button>
                <div id="selectedHero"></div>
            </div>
          
          </div>
    </section>
</article>
